html, body{
    height: 100vh;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(46, 46, 46);
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1.2rem 0;
}

h4{
    font-size: 2.2rem;
    margin: 0.9rem 0;
}

input, button{
    border:0;
    background-color: transparent;
    font-size: 1rem ;
    color: #fff;
}

button{
    font-size: 0.8rem;
    text-transform: uppercase;
}

section{
    min-height: 100vh;
    overflow: hidden;
}

li{
    margin: 0.8rem;
}


.btn{
    padding:1.2rem 1.8rem;
    text-transform: uppercase;
    font-size: 2rem;
    background: rgb(38,170,198);
    color: #fff;
    display: inline-block;
    text-align: center;
    margin: 1.2rem auto;
    border-radius: 0.3rem;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.30);
    -moz-box-shadow:    2px 2px 11px 0px rgba(0, 0, 0, 0.30);
    box-shadow:         2px 2px 11px 0px rgba(0, 0, 0, 0.30);
    font-weight: 700;
    transition: all 300ms ease-out;
    cursor: pointer;
}
    .btn:hover{
        background: rgba(13,213,117,1);
    }

.splashscreen{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    align-items: center;
    justify-content: center;
    background: rgb(0,204,170);
    background: -moz-linear-gradient(131deg, rgba(0,204,170,1) 0%, rgba(1,125,117,1) 100%);
    background: -webkit-linear-gradient(131deg, rgba(0,204,170,1) 0%, rgba(1,125,117,1) 100%);
    background: linear-gradient(131deg, rgba(0,204,170,1) 0%, rgba(1,125,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ccaa",endColorstr="#017d75",GradientType=1);
}



    .splashscreen .container-image-splashscreen, .splashscreen  .container-text-splashscreen{
        width: 50%; 
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
    }

    .splashscreen .container-image-splashscreen{
        background-image: url('../img/closeup-of-fuel-nozzles-at-a-gas-station.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
    }


    .splashscreen  .container-text-splashscreen{
        padding: 2rem;
        color: #fff;
    }


.main-section{
    color: #fff;
    width: 70%;
    margin: 0 auto;
}
    .main-section form button{
        display: block;
    }

    .main-section h1{
        text-align: center;
    }
    .container-inputs{
        width: 80%;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: normal;
        align-items: center;
        justify-content: center;
    }
        .container-inputs .container-input-fuel{
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
            width: 50%;
            padding: 0.5rem;
            text-align: center;
            overflow: hidden;
        }
            .container-inputs .container-input-fuel label{
                display: block;
                margin: 0.8rem 0;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
            .container-inputs .container-input-fuel input{
                border:1px solid #ad9;
                padding: 0.4rem 0;
                width: 100%;
                text-align: center;
                font-size: 2.4rem;
                outline: none;
                font-weight: 700;
                border-radius: 0.3rem;
            }

    .alert-user{
        width: 80%;
        margin:1.6rem auto;
        text-align: center;
        font-size: 1.6rem;
        background: rgb(38,170,198);
        background: -moz-radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        background: radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26aac6",endColorstr="#0dd575",GradientType=1);
        border-radius: 1rem;
        padding: 0;
        font-weight: 700;
        height: 0;
        overflow: hidden;
        transition: all 300ms ease-out;
    }
    .alert-user.open{
        height: auto;
        padding: 1.2rem 1.8rem;
    }
    .alert-user ul li{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
    }

.table-user-price-variation{
    width: 90%;
    margin: 1.2rem auto;
}
    .table-user-price-variation table{
        width: 100%;
        text-align: center;
    }
        .table-user-price-variation table h4{
            font-weight: 700;
            text-transform: uppercase;
        }
        .table-user-price-variation table th{
            font-weight: 700;
            font-size: 1.3rem;
        }
        .table-user-price-variation table td, .table-user-price-variation table th{
            border:1px solid rgba(255,255,255, 0.5);
            padding: 1rem 0.8rem;
        }
        .table-user-price-variation table td{
            font-size: 1rem;
            padding: 2.6rem 0.8rem;
        }


.line-chart{
    width: 80%;
    margin: 1.1rem auto;
}

@media only screen and  (max-width:1125px) { 
    /* CSS rules here */
    h1{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1rem;
    }
    .btn{
        font-size: 0.8rem;
        padding: 0.8rem 1.2rem;
    }
    .splashscreen{
        flex-direction: column;
    }
    .splashscreen .container-image-splashscreen, .splashscreen  .container-text-splashscreen{
        width: 100%;
    }
    .splashscreen  .container-text-splashscreen h1, .splashscreen  .container-text-splashscreen h4{
        margin: 1.2rem 1.5rem;
    }
    .splashscreen  .container-text-splashscreen .btn{
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        display: block;
    }

    .container-inputs .container-input-fuel label{
        font-size: 0.8rem;
    }
    .container-inputs .container-input-fuel input{
        font-size: 1.2rem;
    }

    .alert-user{
        width: 60%;

    }
    .alert-user.open{
        padding: 0.8rem 1.2rem;
    }
    .alert-user ul li{
        font-size: 0.8rem;
    }
}