.main-section{
    color: #fff;
    width: 70%;
    margin: 0 auto;
}
    .main-section form button{
        display: block;
    }

    .main-section h1{
        text-align: center;
    }
    .container-inputs{
        width: 80%;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: normal;
        align-items: center;
        justify-content: center;
    }
        .container-inputs .container-input-fuel{
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
            width: 50%;
            padding: 0.5rem;
            text-align: center;
            overflow: hidden;
        }
            .container-inputs .container-input-fuel label{
                display: block;
                margin: 0.8rem 0;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
            .container-inputs .container-input-fuel input{
                border:1px solid #ad9;
                padding: 0.4rem 0;
                width: 100%;
                text-align: center;
                font-size: 2.4rem;
                outline: none;
                font-weight: 700;
                border-radius: 0.3rem;
            }

    .alert-user{
        width: 80%;
        margin:1.6rem auto;
        text-align: center;
        font-size: 1.6rem;
        background: rgb(38,170,198);
        background: -moz-radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        background: radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26aac6",endColorstr="#0dd575",GradientType=1);
        border-radius: 1rem;
        padding: 0;
        font-weight: 700;
        height: 0;
        overflow: hidden;
        transition: all 300ms ease-out;
    }
    .alert-user.open{
        height: auto;
        padding: 1.2rem 1.8rem;
    }
    .alert-user ul li{
        text-align: left;
        font-size: 1.2rem;
        font-weight: 400;
    }

.table-user-price-variation{
    width: 90%;
    margin: 1.2rem auto;
}
    .table-user-price-variation table{
        width: 100%;
        text-align: center;
    }
        .table-user-price-variation table h4{
            font-weight: 700;
            text-transform: uppercase;
        }
        .table-user-price-variation table th{
            font-weight: 700;
            font-size: 1.3rem;
        }
        .table-user-price-variation table td, .table-user-price-variation table th{
            border:1px solid rgba(255,255,255, 0.5);
            padding: 1rem 0.8rem;
        }
        .table-user-price-variation table td{
            font-size: 1rem;
            padding: 2.6rem 0.8rem;
        }


.line-chart{
    width: 80%;
    margin: 1.1rem auto;
}

@include mobile{
    .container-inputs .container-input-fuel label{
        font-size: 0.8rem;
    }
    .container-inputs .container-input-fuel input{
        font-size: 1.2rem;
    }

    .alert-user{
        width: 60%;

    }
    .alert-user.open{
        padding: 0.8rem 1.2rem;
    }
    .alert-user ul li{
        font-size: 0.8rem;
    }
}