.main-section{
    color: #fff;
    width: 70%;
    margin: 0 auto;

    @include mobile{
        width: calc(100% - 1.4rem);
        padding: 0 0.7rem;
    }
    form button{
        display: block;
    }
    h1{
        text-align: center;
    }
    .container-inputs{
        width: 80%;
        margin: 1rem auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: normal;
        align-items: center;
        justify-content: center;
        .container-input-fuel{
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            align-self: auto;
            order: 0;
            width: 50%;
            padding: 0.5rem;
            text-align: center;
            overflow: hidden;
            label{
                display: block;
                margin: 0.8rem 0;
                font-weight: 300;
                text-transform: uppercase;
                font-size: 1.2rem;
                @include mobile{
                    font-size: 0.8rem;
                }
            }
            input{
                border:1px solid #ad9;
                padding: 0.4rem 0;
                width: 100%;
                text-align: center;
                font-size: 2.4rem;
                outline: none;
                font-weight: 700;
                border-radius: 0.3rem;
                @include mobile{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .table-user-price-variation{
        width: 90%;
        margin: 1.2rem auto;
        @include mobile{
            width: 100%;
            overflow: auto;
        }
        table{
            width: 100%;
            text-align: center;
            h4{
                font-weight: 700;
                text-transform: uppercase;
            }
            th{
                font-weight: 700;
                font-size: 1.3rem;
                @include mobile{
                    font-size: 0.7rem;
                }
            }
            td, th{
                border:1px solid rgba(255,255,255, 0.5);
                padding: 1rem 0.8rem;
                @include mobile{
                    padding: 0.5rem 0.4rem;
                }
            }
            td{
                font-size: 1rem;
                padding: 2.6rem 0.8rem;
                @include mobile{
                    font-size: 0.5rem;
                    padding: 0.4rem;
                }
            }
        }
    }
    .alert-user{
        width: 80%;
        margin:1.6rem auto;
        text-align: center;
        font-size: 1.6rem;
        background: rgb(38,170,198);
        background: -moz-radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        background: -webkit-radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        background: radial-gradient(circle, rgba(38,170,198,1) 50%, rgba(13,213,117,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26aac6",endColorstr="#0dd575",GradientType=1);
        border-radius: 1rem;
        padding: 0;
        font-weight: 700;
        height: 0;
        overflow: hidden;
        transition: all 300ms ease-out;
        @include mobile{
            width: 60%;
        }
        &.open{
            height: auto;
            padding: 1.2rem 1.8rem;
            @include mobile{
                padding: 0.8rem 1.2rem;
            }
        }
        ul li{
            text-align: left;
            font-size: 1.2rem;
            font-weight: 400;
            @include mobile{
                font-size: 0.8rem;
            }
        }
    }
    
    .line-chart{
        width: 80%;
        margin: 1.1rem auto;
    }    
}