// Measurements
$default_width_content:1366px;
$default_grid:1280px;

// Colors
$blue_promo: #0d2441;
$yellow_promo: #ffc528;
$gray_promo: #6b6b6b;


$phone_content_width:960px;
// $phone_min_width:960px;


$default_content_width:990px;



$tablet_content_width:768px;
$tablet_max_width:1099px;